body{  margin: 0;
  text-align: center;
}
.h1{width: 10%;
margin-top: 0;}
.top-container{background-color: #E4F4F9;
padding-top: 100px;}
span{text-decoration: underline;}
.top-cloud{position: relative;
left: 150px;}
.bottom-cloud{position: absolute;
top:200px;
left:100px;}
.mountain{
  height: 600px;
width: 600px;}
